* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 783.8px;
    height: 1121.96px;
    margin: 0 auto;
    border: solid 3px;
}

.escolhe_imagem {
    margin: 35px;
}

.file-preview img {
    min-height: 840px;
    min-width: 600px;
    max-height: 840px;
    max-width: 600px;
}

@media print {
    .escolhe_imagem input {
        display: none;
    }

    .botao_salva_pdf {
        display: none;
    }
}