* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 793.8px;
    height: 1122.96px;
    margin: 0 auto;
}

.escolhe_imagem {
    margin: 35px;
}

.file-preview img {
    max-height: 850px;
    max-width: 790px;
}

@media print {
    .escolhe_imagem input {
        display: none;
    }

    .botao_salva_pdf {
        display: none;
    }
}